/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html {
  font-family: 'Rajdhani', sans-serif;
} */

body {
  background: #1B2838;
}

.page-content {
  background: #1B2838 !important;
}

.page-container {
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  box-shadow: inset 0 0 5em 4em #1B2838;
}

.find-party-content {
  z-index: 2;
}

/* Colors */
.is-black {
  background-color: #1A1F25 !important;
}

.is-dark {
  background-color:#303841 !important;
}

.is-info {
  background-color: #00ADB5 !important;
}

.is-danger {
  background-color: #EA0070 !important;
}

/* Login */

.login-box {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login.modal-card {
  height: fit-content;
  width: fit-content !important;
  margin: 0 !important;
}

.guest.button {
  margin-left: 0.5em;
}

.login-row {
  align-items: center;
}

/* Header */
.navbar {
  margin-bottom: 0 !important;
}

.navbar a {
  color: #fff;
}

.navbar-item {
  background-color: #1A1F25;
}

p.navbar-item:hover {
  background:#EA0070 !important;
  color: #fff !important;
  transition: background 0.23s;
}

p.login.navbar-item:hover {
  background: none !important;
}

.navbar .logo {
  height: 90px;
}

.navbar-menu {
  padding: 0 !important;
}

/* Games */
.searchbar-container {
  padding: 2em 0 3em 0;
}

.searchbar-container .searchbar {
  max-width: 30em;
  width: 80%;
}

/* .searchbar-container .searchbar input {
  max-width: 30em;
  width: 80%;
} */

.party-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2em 2em 2em;
  gap: 2em;
}
.dropdown-item:hover {
  background: #00ADB5;
  color: white;
}

.dropdown-li {
  align-items: center;
}

/* Parties */

.no-parties-container {
  align-items: center;
}

.no-parties {
  color: #fff;
  font-size: 2em;
}

.add-party-container {
  padding: 2em 0 3em 0;
}

.card {
  width: 20em;
}

.card-content {
  padding-bottom: 0 !important;
}

.content .party-description {
  padding-bottom: 0.5em;
  min-height: 5em;
}

.content .party-time {
  font-size: 0.75em;
  color: rgb(138, 138, 138);
}

.card-footer-item.hover:hover {
  background: #00ADB5;
  color: #fff;
  transition: background 0.25s;
}

.card-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 1em;
}

/* Footer */

.footer {
  background-color: #1A1F25 !important;
  color: #fff;
}

.footer strong {
  color: #fff;
}


/* Chat */
.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px auto;
  height: 80vh;
  border-radius: 5px;
  background: #303841;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.393);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #1A1F25;
  color: #eee;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #303841;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-text{
  color:#fff
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: #00ADB5;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
}
.msg-info-time {
  font-size: 0.85em;
  color: #fff;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: #EA0070;
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #303841;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: #00ADB5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: #008eb5;
}

.msger-chat {
  background-color: #303841;
}