.navbar {
  margin-bottom: 0 !important;
}

.navbar a {
  color: #fff;
}

.navbar a:hover{
  color: orange;
}

.footer {
  background-color: #363636 !important;
  color: #fff;
}

.footer strong {
  color: #fff;
}